page-about {

  .search-bar {
    background-color: $searchbar_background;
    padding: 2%;
  }

  .list-header {
    background-color: $searchbar_background;
    font-weight: bold;
  }

  .list a.item-borderless {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
  }

  .no-padding-and-margin {
    padding: 0%;
    margin: 0%;
  }

  .no-padding {
    padding: 0px;
    margin-top: 20px;
  }

  .number-of-jobs {
    line-height: 3;
    float: right;
  }

  .list-item-bold-text {
    color: $text-color;
    line-height: 25px;
    text-transform: capitalize;
    border-bottom: 1px solid $grey_light_text;
  }

  .list-item-grey-text {
    color: $dark_grey_text;
  }

  .list-item-light-grey-text {
    color: $grey_light_text;
    top: 0;
    display: flex;
  }

  .active-text-style{
    font-size: 30px;
    color: $active_text_color;
  }

  .on-screening {
    height: 50%;
    width: 50%;
  }

  .on-screening-text {
    color: $screening_text_color;
  }

  .on-screening-count {
    background-color: $screening_background_color;
    border: 1px solid $screening_text_color;
    content: "";
    border-radius: 5px;
    padding: 6px;
    border-color: $screening_text_color;
    color: $screening_text_color;
  }

  .on-applications {
    height: 50%;
    width: 50%;
  }

  .on-applications-text {
    color: $applicants_text_color;
  }

  .on-applications-count {
    background-color: $applicants_background_color;
    border: 1px solid $applicants_text_color;
    content: "";
    padding: 6px;
    border-radius: 5px;
    border-color: $applicants_text_color;
    color: $applicants_text_color;
  }

}
