<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>DashBoard</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="about">

  <ion-searchbar
    class="search-bar"
    [showCancelButton]="true"
    [animated]="true">
  </ion-searchbar>

  <ion-item-group>

    <!--Active job list-->
    <ion-list class="list-header">
      <!--Active job list header-->
      <ion-list-header class="list-header">
        <ion-row>
          <ion-col width-80>
            <div class="active-text-style"> Active Jobs</div>
            <div class="list-item-light-grey-text">Jobs accepting applications</div>
          </ion-col>
          <ion-col width-20>
            <div class="number-of-jobs"> jobs</div>
          </ion-col>
        </ion-row>
      </ion-list-header>
      <!--ion active job list item-->
      <ion-item class="list-item-bold-text" *ngFor="let jobApplicationDetail of jobApplicationDetails">
        <div style="display: flex">
          <div style="width: 100%">
            <div>{{jobApplicationDetail.jobTitle}}</div>
            <div class="list-item-grey-text" *ngIf="jobApplicationDetail.jobApplicationCount">
              {{jobApplicationDetail.jobLocation}}
            </div>
          </div>

          <div style="display: flex" icon-right class="list-item-light-grey-text">Details
            <ion-icon name="ios-arrow-dropright"></ion-icon>
          </div>
        </div>

        <!--Type of jobs-->
        <ion-grid class="no-padding">
          <ion-row>
            <ion-col width-25>
              <div class="on-screening">
                <span class="on-screening-count">{{jobApplicationDetail.jobApplicationCount}}</span>
                <span class="on-screening-text"> On screening</span>
              </div>
            </ion-col>
            <ion-col width-25>
              <div class="on-applications">
                <span class="on-applications-count">{{jobApplicationDetail.jobApplicationCount}}</span>
                <span class="on-applications-text"> Applicants</span>
              </div>
            </ion-col>
            <ion-col width-50></ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <!--footer-->
      <ion-footer>
        Show all active jobs
      </ion-footer>
    </ion-list>

    <ion-item-divider class="list-header">
      <ion-grid class="list-header">
        <ion-row>
          <ion-col width-80>
            Active Jobs
            <div style="color: gray">vdvfvdfdfvdfvdf</div>
          </ion-col>
          <ion-col width-20>
            <div class="number-of-jobs">7 jobs</div>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-item-divider>
    <ion-item class="no-padding-and-margin">
      There
    </ion-item>
    <ion-item-divider class="list-header">Posted</ion-item-divider>
    <ion-item-divider class="list-header">Assigned to me</ion-item-divider>
  </ion-item-group>
  
</ion-content>
