page-contact {

  .item-button-right{
    float: right;
  }

  .no-padding{
    padding: 0px;
    height: 25%;
  }

  .side-margin{
    width: 80%;
    height: auto;;
    margin: 10%;
  }

  .screen-background{
    background-color: $dark_blue;
  }

  .check-button{
    background-color: red;
    z-index: 5;
    text-align: right;
    top: 50%;
    margin-top: 5%;
    margin-left: 96%;
    position: absolute;
    padding: 2%;
    border: 8px $image_border_shadow solid;
    border-radius: 50%;
  }

  .cancel-button{
    background-color: $image_background;
    z-index: 5;
    top: 50%;
    margin-top: 5%;
    margin-left: -2%;
    position: absolute;
    padding: 2%;
    border: 8px $image_border_shadow solid;
    border-radius: 50%;
  }

  .share-button{
    background-color: $image_background;
    z-index: 5;
    margin-top: 1%;
    margin-left: 50%;
    position: absolute;
    padding: 2%;
    border: 8px $image_border_shadow solid;
    border-radius: 50%;
  }

  .hold-button{
    background-color: $image_background;
    z-index: 5;
    top: 50%;
    margin-top: 5%;
    margin-left: -2%;
    position: absolute;
    padding: 2%;
    border: 8px $image_border_shadow solid;
    border-radius: 50%;
  }

  .item-avator-section{
    background-color: $light_grey;
    padding:0;
  }

  .item-relevant-section{
    background-color: $dark_grey;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #card-stack {
    width: 80%;
    height: 100%;
    background: #047915;
    border: 10px solid #4cb338;    //px solid #4cb338
    margin: 10%;  //100px auto 0
    position: relative;
  }

  #card-stack ion-card {
    border-radius: 5px;
    position: absolute;
    text-align: center;
    top: 3%;
    height: 90%;
  }
}
