<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="screen-background">

  <!--Check button-->
  <ion-avatar class="check-button" text-center id="shortlistedButton">
    <ion-icon name="checkmark"></ion-icon>
  </ion-avatar>

  <!--Cancel button-->
  <ion-avatar class="cancel-button" text-center id="rejectedButton">
    <ion-icon name="logo-twitter"></ion-icon>
  </ion-avatar>

  <!--Share button-->
  <ion-avatar class="share-button" text-center id="shareButton">
    <ion-icon name="logo-twitter"></ion-icon>
  </ion-avatar>

  <!--Hold button-->
  <ion-avatar class="hold-button" text-center id="onHoldButton">
    <ion-icon name="logo-twitter"></ion-icon>
  </ion-avatar>

  <!--card-->
  <ion-content class="about" padding>
    <div swing-stack #myswing1 [stackConfig]="stackConfig" (throwoutleft)="voteUp(true)" (throwoutright)="voteUp(false)"
         id="card-stack">
    <ion-card #mycards1 swing-card *ngFor="let c of cards">
    <ion-card-header class="no-padding">
      <ion-grid class="no-padding" *ngIf="c.picture">
        <ion-row>
          <ion-col width-67>
            <ion-item>
              <ion-avatar>
                <img src="http://placehold.it/100x100">
              </ion-avatar>
              <p>Sac</p>
            </ion-item>
          </ion-col>
          <ion-col width-33 class="item-relevant-section">
            <button ion-button icon-left>
              <ion-icon name="star"></ion-icon>
              Relevant
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>

    <ion-card-content *ngIf="c.picture">

      <ion-item>
        <h2>Contact</h2>
        <p>sanch@mail.com</p>
        <p>982382938</p>
      </ion-item>

      <ion-item>
        <h2>Current Position</h2>
        <p>Lead Java at Adobe</p>
      </ion-item>

      <ion-item>
        <h2>CTC</h2>
        <p>Current: 5LPA</p>
        <p>Expected: 6 LPA</p>
      </ion-item>

      <ion-item>
        <h2>Experience</h2>
        <p>5 years</p>
      </ion-item>
    </ion-card-content>
  </ion-card>
    </div>
  </ion-content>

</ion-content>

<!--<ion-content class="no-padding">-->
<!--<ion-card class="no-padding">-->
<!--<ion-item class="no-padding">-->
<!--<ion-row class="no-padding">-->
<!--<ion-col width-10 class="no-padding">-->
<!--<ion-avatar>-->
<!--<img src="http://placehold.it/100x100">-->
<!--</ion-avatar>-->
<!--</ion-col>-->

<!--<ion-col width-70 class="no-padding">-->
<!--<h2 style="text-align: left">Sanchi</h2>-->
<!--</ion-col>-->

<!--<ion-col width-20 class="item-relevant-section">-->
<!--<button ion-button icon-left>-->
<!--<ion-icon name="star"></ion-icon>-->
<!--Relevant-->
<!--</button>-->
<!--</ion-col>-->
<!--</ion-row>-->
<!--</ion-item>-->

<!--<ion-item>-->
<!--<h2>Contact</h2>-->
<!--<p>sanch@mail.com</p>-->
<!--<p>982382938</p>-->
<!--</ion-item>-->

<!--<ion-item>-->
<!--<h2>Current Position</h2>-->
<!--<p>Lead Java at Adobe</p>-->
<!--</ion-item>-->

<!--<ion-item>-->
<!--<h2>CTC</h2>-->
<!--<p>Current: 5LPA</p>-->
<!--<p>Expected: 6 LPA</p>-->
<!--</ion-item>-->

<!--<ion-item>-->
<!--<h2>Experience</h2>-->
<!--<p>5 years</p>-->
<!--</ion-item>-->
<!--</ion-card>-->
<!--</ion-content>-->
